 @model List<AdminPetshop.Models.ViewModels.ProductViewModel> 

  
@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Ürün Listesi</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün Adı</th>
            <th>Kategori</th>
            <th>Resim</th>
            <th>Resim 2</th>
            <th>Resim 3</th>
            <th>Resim 4</th>
            
            <th>Fiyat</th>
            <th>Sil</th>
            <th>Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td><img src="@item.ImageUrl" alt="resim" style="width:70px;" /></td>
                <td><img src="@item.ImageUrl2" alt="resim" style="width:70px;" /></td>
                <td><img src="@item.ImageUrl3" alt="resim" style="width:70px;" /></td>
                <td><img src="@item.ImageUrl4" alt="resim" style="width:70px;" /></td>
               
                <td>@item.Price ₺</td>
                <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Product/EditProduct/@item.Id" class="btn btn-outline-success">Düzenle</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Product/AddProduct/" class="btn btn-outline-info">Yeni Ürün Girişi</a>


